{:paths   ["src/main"]
 :deps    {}
 :aliases {:dev {:extra-paths ["src/workspaces" "src/dev"]
                 :extra-deps  {org.clojure/clojure       {:mvn/version "1.10.0" :scope "provided"}
                               org.clojure/clojurescript {:mvn/version "1.10.520" :scope "provided"}
                               com.fulcrologic/fulcro    {:mvn/version "3.0.0-alpha-22" :scope "provided"}
                               thheller/shadow-cljs      {:mvn/version "2.8.50"}
                               nubank/workspaces         {:mvn/version "1.0.10"}}}}}
